<!DOCTYPE html>
<html ng-app="spoofcheck">
<head lang="en">
    <meta charset="UTF-8">
    <title>Spoofcheck Self Test</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/selftest.css" rel="stylesheet">

</head>
<body>

    <div class="container">

        <div class="well content" ng-view>

        </div>

    </div>

    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-animate.min.js"></script>
    <script src="/static/js/angular-websocket.min.js"></script>
    <script src="/static/ng-app/base.js"></script>
</body>
</html>